[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = {py = "*"}
asyncio = "*"
requests = "*"
cloudscraper = "*"
bs4 = "*"
psutil = "*"
colorlog = "*"
peewee = "*"
psycopg2-binary = "*"
httpx = "*"
python-git-info = "*"
peewee-async="*"
aiopg="*"
requests-async = "*"
idna-ssl = "*"

[required]
python_version = "3.6"
